.button {
  border: none;
  outline: none;
  display: inline-block;
  cursor: pointer;
  font-weight: var(--font-weight-semibold);
  font-family: var(--font-family-heading);
  padding: var(--spacing-xxs) var(--spacing-xxl);
  border-radius: var(--spacing-sm);
  box-shadow: 1px 1px 19px 8px rgb(0 0 0 / 15%);
  transition: var(--transition-dynamic);
  background-color: var(--bg-color);
  color: var(--txt-color);
}

.button,
.button--light {
  --bg-color: var(--color-light);
  --txt-color: var(--color-dark);
}

.button--dark {
  --bg-color: var(--color-dark);
  --txt-color: var(--color-light);
}
.button--primary {
  --bg-color: var(--color-primary);
  --txt-color: var(--color-light);
}

.button--primary-condensed {
  --bg-color: var(--color-primary-condensed);
  --txt-color: var(--color-light);
}

.button--primary-darken {
  --bg-color: var(--color-primary-darken);
  --txt-color: var(--color-light);
}

.button:active {
  transform: scale(0.99);
  filter: brightness(90%);
}

.button:hover {
  filter: brightness(95%);
}
