.tree-list__wrapper {
  --color-tree: var(--color-primary-condensed);
  --trunk-width: var(--spacing-xs);

  position: relative;
}

.tree-list__wrapper--primary {
  --color-tree: var(--color-primary);
}
.tree-list__wrapper--primary-condensed {
  --color-tree: var(--color-primary-condensed);
}
.tree-list__wrapper--primary-darken {
  --color-tree: var(--color-primary-darken);
}
.tree-list__wrapper--light {
  --color-tree: var(--color-light);
}
.tree-list__wrapper--dark {
  --color-tree: var(--color-dark);
}

.tree-list {
  list-style-type: none;
  display: flex;
  gap: var(--spacing-lg);
  flex-direction: column;
  padding: var(--spacing-xxxl) 0;
}

/* trunk */
.tree-list__trunk {
  border-radius: var(--spacing-sm);
  background-color: var(--color-tree);
  width: var(--trunk-width);
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.tree-list__trunk::before,
.tree-list__trunk::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: calc(var(--trunk-width) * 3);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--color-tree);
}

.tree-list__trunk::before {
  top: 0;
}

.tree-list__trunk::after {
  bottom: 0;
}

.tree-list__item {
  position: relative;
  display: flex;
  width: 40%;
}

.tree-list__item::before {
  content: '';
  position: absolute;
  display: block;
  width: 25%;
  height: var(--trunk-width);
  background-color: var(--color-tree);
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
}

.tree-list__item[data-side='left']::before {
  left: 100%;
}

.tree-list__item[data-side='right']::before {
  right: 100%;
}

.tree-list__item[data-side='left'] {
  margin-right: auto;
  justify-content: flex-end;
}

.tree-list__item[data-side='right'] {
  margin-left: auto;
  justify-content: flex-start;
}
