.email-icon__dialog {
  font-size: var(--font-size-lg);
  text-align: justify;
  max-width: 480px;
}

.email-toggler__link {
  display: inline-flex;
  gap: var(--spacing-sm);
  color: var(--color-light);
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  transition: var(--transition-dynamic);
  text-wrap-mode: nowrap;
}

.email-toggler__link:hover {
  color: var(--color-primary);
}

.email-icon__dialog-actions {
  max-width: 428px;
  margin: auto;
  margin-top: var(--spacing-lg);
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  gap: var(--spacing-lg);
}
