$primary: #6c1bc0;
$primary-condensed: #4c1386;
$primary-darken: #130d19;
$dark: #0b0c0e;
$light: #cdcdcd;

$variants: (
  primary: $primary,
  primary-condensed: $primary-condensed,
  primary-darken: $primary-darken,
  dark: $dark,
  light: $light
);

$neutral-overlay-variants: (
  primary: $light,
  primary-condensed: $light,
  primary-darken: $light,
  dark: $light,
  light: $dark
);

@function neutral-overlay($color) {
  @if map-has-key($neutral-overlay-variants, $color) {
    @return map-get($neutral-overlay-variants, $color);
  } @else {
    @warn "neutral overlay color '#{$color}' not found";
    @return null;
  }
}
