:root {
  --color-primary: #6c1bc0;
  --color-primary-condensed: #4c1386;
  --color-primary-darken: #130d19;
  --color-dark: #0b0c0e;
  --color-light: #cdcdcd;

  --vertical-gradient-primary-darken-to-dark: linear-gradient(
    to bottom,
    var(--color-primary-darken) 70%,
    var(--color-dark)
  );

  --vertical-gradient-dark-to-primary-darken: linear-gradient(
    to bottom,
    var(--color-dark) 70%,
    var(--color-primary-darken)
  );
}
