.icon {
  transition: color var(--transition-dynamic);
  background: none;
  border: none;
  outline: none;
}

button.icon {
  cursor: pointer;
}

.icon--sm {
  font-size: var(--spacing-md);
}
.icon--md {
  font-size: var(--spacing-lg);
}
.icon--lg {
  font-size: var(--spacing-xl);
}
.icon--xl {
  font-size: var(--spacing-xxl);
}
.icon--xxl {
  font-size: var(--spacing-xxxl);
}

.icon--fill-primary {
  color: var(--color-primary);
}

.icon--fill-primary-condensed {
  color: var(--color-primary-condensed);
}

.icon--fill-primary-darken {
  color: var(--color-primary-darken);
}

.icon--fill-light {
  color: var(--color-light);
}

.icon--fill-dark {
  color: var(--color-dark);
}

.icon--fill-white {
  color: var(--color-white);
}

.icon--hover-fill-primary:hover {
  color: var(--color-primary);
}

.icon--hover-fill-primary-condensed:hover {
  color: var(--color-primary-condensed);
}

.icon--hover-fill-primary-darken:hover {
  color: var(--color-primary-darken);
}

.icon--hover-fill-light:hover {
  color: var(--color-light);
}

.icon--hover-fill-dark:hover {
  color: var(--color-dark);
}

.icon--hover-fill-white:hover {
  color: var(--color-white);
}
