@use '@/styles/partials/typography' as t;

.experience-modal {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: t.$font-size-h2;
  }
}
